<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/heroic-features.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Inicio</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/news">Noticias</a>
                    </li>
                    <li>
                        <a href="/foro">Foros</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li> 
                    <p>               
                        <%= form_for(:search, url: search_path, method: :get) do |f| %>
                        <%= f.text_field :looking_for, class: 'form-control'%> 
                    </li>
                    <li>
                    </p>
                        <%= f.submit "Buscar", class: "btn btn-primary" %>
                        <% end %> 
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        
        <div class="col-md-12">
            <img class="img-responsive img-rounded" src="assets/logo.png" alt="">
        </div>
    </div>
</head>

<% if current_user.admin? %>
<div class="col-md-3"></div>
    <div class="col-md-3">
    <h3> Registra un nuevo editor </h3>
    <div>
      <%= form_for(:editor, url: me_new_editor_path, method: :post) do |f| %>
        <b>
        <%= f.label :Nombre %>
        <%= f.text_field :name, class: 'form-control' %>
        <b>
        <%= f.label :Apellido %>
        <%= f.text_field :surname, class: 'form-control' %>      
        <b>
        <br>
        <%= f.label :Email %>
        <%= f.email_field :email, class: 'form-control' %>
        <%= f.submit "Registrar", class: "btn btn-primary" %>
      <% end %>
    </div>
    <small>La clave por defecto es 'editor'. El editor puede cambiar su clave desde su perfil.</small>
  </div>

      <% if PermissionRequest.not_checked.any? %>
      <div>
        <div>
          <h3> Los siguientes usuarios desean cambiar su permiso </h3>
        
        <table border="1">
          <thead>
            <tr>
              <th> Nombre      </th>
              <th> Correo      </th>
              <th> Descripción </th>
              <th>             </th>
              <th>             </th>
            </tr>
          </thead>

          <tbody>
            <% PermissionRequest.not_checked.each do |request| %>
              <% user = User.find(request.user_id) %>
              <tr>
                <td> <%= user.get_name %>       </td>
                <td> <%= user.email    %>       </td>
                <td> <%= request.description %> </td>
                <td> 
                  <%= form_for(:grant, url: me_grant_path, method: :post) do |f| %>
                    <%= f.hidden_field :user_id, value: request.user_id %>
                    <%= f.submit "Aceptar", class: "btn btn-primary" %>
                  <% end %>      
                </td>
                <td> 
                  <%= form_for(:deny, url: me_deny_path, method: :post) do |f| %>
                    <%= f.hidden_field :user_id, value: request.user_id %>
                    <%= f.submit "Rechazar", class: "btn btn-primary" %>
                  <% end %>      
                </td>                
              </tr>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>




<% else %>
<div class="col-md-2"></div>
<div class="col-md-3">
  <h3> Cambia tu contraseña </h3>
    <div>
      <%= form_for(:user_data, url: me_update_path) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.label :Contraseña %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit "Actualizar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>

  <div class="col-md-6">
    <% request = PermissionRequest.find_by(user_id: current_user.id) %>
    <% if request.present? %>
      <div>
        <% if !request.checked and !request.granted %>
          Tu solicitud está siendo evaluada
        <% elsif request.checked and !request.granted %>
          Solicitud rechazada
        <% elsif request.checked and request.granted %>
          Solicitud aceptada. Desde ahora puedes enriquecer el contenido de nuestro sitio...
        <% end %>
      </div>

    <% else %>
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3> Elevar solicitud de permisos</h3>
        <%= form_for(:permission, url: permission_create_path) do |f| %>
          <%= f.text_field   :description %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Enviar", class: "btn btn-primary" %>
        <% end %>
        <small> Describenos por qué quieres mejorar tu permiso </small>
      </div>  
    <% end %>
  </div>
<% end %>