<h3> Cambia tu contraseña </h3>

<div>
  <div>
    <%= form_for(:user_data, url: me_update_path) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :Contraseña %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Actualizar", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<br>

<div>
  <% request = PermissionRequest.find_by(user_id: current_user.id) %>
  <%binding.pry%>
  <%if request.present? %>
    <div>
      <%if !request.checked and !request.granted %>
        Tu solicitud está siendo evaluada
      <%elsif request.checked and !request.granted %>
        Solicitud rechazada
      <%elsif request.checked and request.granted %>
        Solicitud aceptada. Desde ahora puedes enriquecer el contenido de nuestro sitio...
      <%end%>
    </div>

  <%else%>
    <div>
      <h3> Elevar solicitud de permisos</h3>
      <%= form_for(:permission, url: permission_create_path) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Enviar", class: "btn btn-primary" %>
      <% end %>      
    </div>  
  <%end%>
</div>