<h1>Bienvenido al Archivo de Música</h1>

<% if logged_in? %>
  <h3>, <%= link_to(current_user.name, me_path) %> </h3>

  <div>
    <div>
      <%= form_for(:user, url: logout_path) do |f| %>
        <%= f.submit "Cerrar sesión", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:sessions, url: login_path, method: :put) do |f| %>
        <%= f.submit "Ingresar", class: "btn btn-primary" %>
      <% end %>
      <p>Sin cuenta? <%= link_to "Registrate!", users_register_path %></p>
    </div>
  </div>
<% end %>

<%= form_for(:search, url: search_path, method: :get) do |f| %>
  <%= f.text_field :looking_for, class: 'form-control' %>
  <%= f.submit "Buscar", class: "btn btn-primary" %>
<% end %>

<% if current_user && current_user.editor? %>
  <div>
    <div> 
      <p> Sube nuevo contenido!</p>
      <div>
        <%= form_for(:content, html: { multipart: true }, url: contents_upload_path) do |f| %>
          <%= f.text_area    :description, class: 'form-control' %>
          <%= f.hidden_field :user_id,     value: current_user.id %>
          <br>
          <%= f.fields_for :content_attachments do |p| %>
            <%= p.file_field :avatar  , multiple: true, accept: "image/jpeg, image/jpg, image/gif, image/png", name: "content_attachments[avatar][]" %>
          <% end %>
          <br>
          <%= f.submit "Publicar", class: "btn btn-primary" %>
        <% end %>
      </div>      
    </div>
  </div>
<% end %>

<div>
  <div> 
    <h3> Noticias </h3>
    <ul>
      <% Content.all.each do |content| %>
        <li>
          <div> <%= auto_link(content.description) %> </div>

          <% if content.content_attachments.any? %>
            <div> 
              <% content.content_attachments.each do |p| %>
                <%= image_tag p.avatar %>
              <% end %>            
            </div>
          <% end %> 

          <% if current_user && current_user.editor? %>
            <div> 
              <%= form_for(:content, url: contents_destroy_path) do |f| %>
                <%= f.hidden_field :content_id,  value: content.id %>
                <%= f.submit "Eliminar Noticia", class: "btn btn-primary" %>
              <% end %>            
            </div>
          <% end %>  
        </li>
      <% end %>
    </ul>      
  </div>
</div>

<div>
  <div>
    <h3> Foro </h3>

    <% if Comment.all.none? %>
      <div>
        Aún no hay comentarios!
      </div>
    <% end %>
    
    <% if logged_in? && (current_user.regular_user? or current_user.privileged_user?) %>
      <div> 
        <%= form_for(:comment, url: comments_new_path) do |f| %>
          <%= f.text_area    :description, class: 'form-control' %>
          <%= f.hidden_field :user_id,     value: current_user.id %> <br>
          <%= f.submit "Publicar",     class: "btn btn-primary" %>
        <% end %>            
      </div>
    <% end %>
    
    <div>
      <ul>
        <% Comment.all.each do |comment| %>
          <li>
            <b> <%= User.find(comment.user_id).get_name %> </b>
            
            <div> <%= comment.description %> </div>

            <ul>
                <% if comment.responses.any? %>
                  <% comment.responses.each do |response| %>
                    <li>
                      <div> <%= response.description %>  </div>
                    </li>
                  <% end %>
                <% end %>
            </ul>

            <% if logged_in? %>
              <div> 
                <%= form_for(:comment, url: comments_respond_path, method: :put) do |f| %>
                  <%= f.hidden_field :comment_id,  value: comment.id %>
                  <%= f.submit "Responder", class: "btn btn-primary" %>
                <% end %>            
              </div>
            <% end %>
   
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>