<h1>Bienvenido </h1>

<% if logged_in? %>
  <h3>, <%= current_user.name %> </h3>

  <div>
    <div>
      <%= form_for(:user, url: logout_path) do |f| %>
        <%= f.submit "Cerra sesión", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>

<% unless logged_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:sessions, url: login_path, method: :get) do |f| %>
        <%= f.submit "Ingresar", class: "btn btn-primary" %>
      <% end %>
      <p>Sin cuenta? <%= link_to "Registrate!", users_register_path %></p>
    </div>
  </div>
<% end %>

<% if current_user && current_user.editor? %>
  <div>
    <div> 
      <p> Sube nuevo contenido!</p>
      <div>
        <%= form_for(:content, url: contents_upload_path) do |f| %>
          <%= f.text_area   :description, class: 'form-control' %>
          <%= f.hidden_field :user_id,     value: current_user.id %>
          <%= f.submit "Publicar", class: "btn btn-primary" %>
        <% end %>
      </div>      
    </div>
  </div>
<% end %>

<div>
  <div> 
    <h3> Noticias </h3>
    <ul>
      <% Content.all.each do |content| %>
        <li>
          <div> <%= auto_link(content.description) %> </div>
          <% if current_user && current_user.editor? %>
            <div> 
              <%= form_for(:content, url: contents_destroy_path) do |f| %>
                <%= f.hidden_field :content_id,  value: content.id %>
                <%= f.submit "Eliminar Noticia", class: "btn btn-primary" %>
              <% end %>            
            </div>
          <% end %>  
        </li>
      <% end %>
    </ul>      
  </div>
</div>

<div>
  <div>
    <h3> Foro </h3>
    <% if logged_in? %>
      <div> 
        <%= form_for(:comment, url: comments_new_path) do |f| %>
          <%= f.text_area    :description, class: 'form-control' %>
          <%= f.hidden_field :user_id,     value: current_user.id %>
          <%= f.submit "Iniciar Hilo",     class: "btn btn-primary" %>
        <% end %>            
      </div>
    <% end %>
    <div>
      <ul>
        <% Comment.all.each do |comment| %>
          <li>
            <b> <%= User.find(comment.user_id).get_name %> </b>
            <div> <%= comment.description %> </div>
          </li>
        <% end %>
      </ul>
    </div>     
  </div>
</div>